/*
#post {
  text-align: left;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: -10px 10px;
  color: black;
  margin: auto;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

.visiblePost {
  max-width: 100% !important;
}

.invisiblePost {
  display: none;
}

#postTitle {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #252627;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: auto;
  width: 100%;
}

#postTitle:hover {
    background-color: #616161;
}

#postTitle h1 {
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}


#postTitle:hover h1{

}

#postContent {

}

.post hr {
  margin-left: 20px;
  margin-right: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

#post h1 {
  text-align: center;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
*/

/*End Attribution https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/

/*Start Attribution*/
/*TODO: https://github.com/google/code-prettify*/
/*
pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
    margin: auto 40px auto 40px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}
code {
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    color: #555555;

    background: #f4f4f4;
}

#break {
  margin-top: 0px;
  height: 5px;
  background-color: black;
  border: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
}
*/
/*End Attribution http://adis.ca/entry/2011/pretty-code-block-in-css/*/

/*
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
}

#coverImage {
  border-radius: 50px;
}

#description {
  text-align: center;
  margin-top: 0px;
  width: 100% !important;
}

#publishDate {
  text-align: right;
}

#tag {
  background-color: black;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 8px;
  font-size: 12px;
  color: white;
  cursor: pointer;
}

#tag:hover {
  background-color: #616161;
}

#tags {
  display: flex;
}

#postUpdateSymbol {
  background-color: #4070ff;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  margin-left: 2px;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

#postUpdate {
  display: inline-block;
}

#postUpdate:hover #postUpdateSymbol{
    animation: none !important;
    background-color: rgb(8, 253, 216);
}

@-webkit-keyframes blink {
  0%   {background-color: #4070ff;}
  50%   {background-color: rgb(0, 200, 170);}
  100% {background-color: #4070ff;}
}

#authors {
  float: left;
  display: flex;
}

#author {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#closePostBtn {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {

}
*/
