#viewer {
  position: relative;
  width: 310px;
  height: 310px;
}

#modelViewer {
  border: 3px solid black;
  margin: 5px;
  border-radius: 10px;
}

#settingsPanal {
  top:10px;
  right: 10px;
  width: 80px;
  height: 20px;
  button {
    float: right;
  }
  #allSettings {
    position: absolute;
    right: 0px;
    top: 20px;
    height: 150px;
    width: 100%;
    background-color: orange;
  }
}

#settingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#directionBtn {
  height: 20px;
  width: 20px;
}

#loadingIcon {
  background-color: green;
  width: 20px;
  height: 20px;
  z-index: 2;

  display: none;
}

.viewerOverlay {
  position: absolute;
}

.modelLoadError {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 2;
  top:122px;
  right: 122px;
  position: absolute;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 2;
  top:122px;
  right: 122px;
  position: absolute;
  display: none;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid black;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.6s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
