#projectPageHeader {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  hr {
    width: 50%;
  }
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.projectCard {
  width: 300px;
  margin: 20px !important;
}
