.app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.background, .content {
  position: absolute;
  height: 100%;
  width: 100%;
}

#constructionPage {
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
}

#layout {
  display: flex;
  flex-direction: row;
}
